* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul{
    list-style: none ;
}
a{
    text-decoration: none;
}
#navebar{
    display:flex ;
    justify-content: space-between ;
    align-items: center;
    background-color: rgb(107, 29, 29);
}
#navebar img {
    width: 80px;
    margin-left: 100px;
}

#navebar ul{
    display:flex ;
    margin-right: 100px;
}
#navebar ul li a{
    padding: 15px 20px;
    color: aliceblue;
}
#navebar ul li a:hover {
    border-bottom: 2px solid #e4b95b;
}



/* gallery start */
#gallery{
  background: url('./img/offer-background.jpg') center center/cover no-repeat;
  padding: 8rem 0 6rem;
}

#gallery h2 {
  color: #e4b95b;
  text-align: center;
}



#gallery .img-gallery img {

    width: 280px;
    height: 200px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.8;
}
#gallery .img-gallery img:hover{
  opacity: 1;
}
  /* Gallery end */